<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057167491289-dbpioech508jmcl38bmlqbsdj95jqi2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057167491289-dbpioech508jmcl38bmlqbsdj95jqi2q</string>
	<key>API_KEY</key>
	<string>AIzaSyDKceWa9iWIBdZoIvvyYXOWFd0KbtDTKgI</string>
	<key>GCM_SENDER_ID</key>
	<string>1057167491289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firstoredemoapp</string>
	<key>PROJECT_ID</key>
	<string>rn-firbase-demoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-firbase-demoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057167491289:ios:f9a0b987ff129e39ee3ec8</string>
</dict>
</plist>